@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



.home-text{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    /* font-size: 3.625rem; */
    font-size: 3vmax;
    line-height: 1.206;
    color: #42446e;
    letter-spacing: -1px;
}

.home-text span {
    background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-emodji{
    max-width: 13%;
}

.home-user{
    max-width: 60%;
    min-width: 250px;
}

/* .user-border{
    width: 367px;
    height: 367px;
    background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.user{
    border-radius: 50%;
    max-width: 349px;
} */

